* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.hidden {
  display: none;
}

h1 {
  font-size: 4em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start {
  padding: 15px;
  width: 40%;
}

.message-display {
  margin: 30px;
  font-size: 1.5rem;
}

.player-info-container {
  display: flex;
  margin-top: 30px;
}

.player-one-container,
.player-two-container {
  margin: 0px 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

label {
  margin: 10px;
}


.player-one-playing,
.player-two-playing {
  text-align: center;
}

/* GameBoard Section */
.game-container {
  justify-content: center;
  width: 100%;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 500px;
  width: 500px;
  margin: 60px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  font-size: 4em;
}

.top-left {
  border-top: none;
  border-left: none;
}

.top-middle {
  border-top: none;
}

.top-right {
  border-top: none;
  border-right: none;
}

.center-left {
  border-left: none;
}

.center-right {
  border-right: none;
}

.bottom-left {
  border-left: none;
  border-bottom: none;
}

.bottom-middle {
  border-bottom: none;
}

.bottom-right {
  border-bottom: none;
  border-right: none;
}
