* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.hidden {
  display: none;
}

h1 {
  font-size: 4em;
  margin-bottom: 60px;
}

.start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start {
  padding: 15px;
  width: 40%;
}

.message-display {
  margin: 40px;
  font-size: 1.5rem;
}


.player-info-container {
  display:flex;
}

.player-one-container, .player-two-container {
  margin: 30px 50px;
  display:flex;
  flex-direction: column;
  text-align: center;
}

label {
  margin: 10px;
}

#player-one:valid, #player-two:valid {
  border: 1px solid black;
}

#player-one:invalid, #player-two:invalid {
  border: 1px solid red;
}

.game-container {
  display: flex;
}

.player1-playing, .player2-playing {
  text-align: center;
}


/* GameBoard Section */
.game-board {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 500px;
  width: 500px;
  margin: 60px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  font-size: 4em;
}

.top-left {
  border-top: none;
  border-left: none;
}

.top-middle {
  border-top: none;
}

.top-right {
  border-top: none;
  border-right: none;
}

.center-left {
  border-left: none;
}

.center-right {
  border-right: none;
}

.bottom-left {
  border-left: none;
  border-bottom: none;
}

.bottom-middle {
  border-bottom: none;
}

.bottom-right {
  border-bottom: none;
  border-right: none;
}
